a {
    text-decoration:none;
}

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
}

.faux-ol-li {
    margin-left: 1em;
}

.faux-ol-li-counter {
    position: absolute;
    left: -1.5em;
}

body {
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt;
    font-family: Verdana;
}

ul, ol {
    padding-left: 15px;
}

.small-caps{
    text-transform: uppercase;
}

.callout-container {
    margin: 0.8em 0 0.8em 0;
    padding: 0.5rem;
    background: #E6E6E6;
    page-break-inside:avoid;
}

.callout-container-h5 {
    color: #005;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.print-book-callout-head {
    text-transform: uppercase;
}

.listing-container pre {
    white-space: pre-wrap;
    word-break: break-all;
}

.listing-container-h5 {
    color: white !important;
    background: #020056;
    margin-bottom: 0.5em;
}

.introduction-summary .intro-header {
    color: black;
    page-break-after: avoid;
}

.readable-text p {
    color: black;
    display: block;
}

.faux-ol-li {
    color: black;
    display: block;
}

p.readable-text {
    color: black;
}

.browsable-container {
    margin: 1.2rem 0 0.8rem 0;
    page-break-inside:avoid;
}

.browsable-container.figure-container {
    margin: 1.2rem 0 0.8rem;
}

.figure-container-h5 {
    color: #005;
    font-weight: bold;
    margin: 0.5em 0;
}

.browsable-container.figure-container > img {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.browsable-container-h5 {
    color: #141464;
    display: block;
    page-break-after: avoid;
    text-align: justify;
}

.readable-text-h1 {
    color: #005;
    display: block;
    page-break-after: avoid;
}

.readable-text-h2 {
    color: #141464;
    display: block;
    font-weight: bold;
    page-break-after: avoid;
}

.underlined {
    text-decoration: underline;
}

.readable-text-h3 {
    color: #141464;
    display: block;
    font-weight: bold;
    page-break-after: avoid;
}

.readable-text-h4 {
    color: #141464;
    display: block;
    font-style: italic;
    font-weight: bold;
    page-break-after: avoid;
    text-transform: uppercase;
}

.readable-text-h5 {
    color: #141464;
    display: block;
    font-style: italic;
    font-weight: bold;
    page-break-after: avoid;
    text-transform: uppercase;
}

.underlined {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: line-through; 
}

li.readable-text {
    color: black;
    display: list-item;
    text-align: justify;
    margin: 4pt 0 4pt 25px;
}

.list-body-item {
    margin-left: 40px;
} 

li.readable-text.faux-li {
    position: relative;
    margin-left: 10px;
} 

body .browsable-container table td pre,
body .browsable-container table td kbd,
body .browsable-container table th pre,
body .browsable-container table th kbd {
    font-size: inherit;
}

.code-annotations-overlay-container {
    font-size: 0.75rem;
    margin: 0;
    font-weight: bold;
}

.code-area-container .code-area, .code-area-container pre{
    background: #f2f2f2;
}

.code-area {
    font-size: 0.8rem;
}

.browsable-container table, .browsable-container table td, .browsable-container table th  {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 0.8rem;
    padding: 0.25em 0.5em 0.25em 0.5em;
}

body blockquote {
    page-break-inside: avoid;
    font-family: Verdana;
    font-style: italic;
}

body blockquote .quote-cite {
    font-style: normal; 
}


ol.ol-with-buletless-items {
    counter-reset: li-counter;
}

ol.ol-with-buletless-items > li {
    counter-increment: li-counter;
    list-style-type: none;
}

ol.ol-with-buletless-items > ::before {
    content: counter(li-counter) ". ";
}

ol.ol-with-buletless-items > .buletless-item, 
ol.ol-with-buletless-items > .has-faux-ol-li-counter {
    counter-increment: none;
}

ol.ol-with-buletless-items > .buletless-item::before,
ol.ol-with-buletless-items > .has-faux-ol-li-counter::before {
    content: "";
    margin-left: 20px; 
}

.line-through {
    text-decoration: line-through;
} 

.link-like {}

.readable-text .equation-image,
.readable-text img[alt='equation image'] {
    vertical-align: middle;
}

.blockquote {
    display: block;
    font-style: italic;
    width: 90%;
    margin: 20px;
    text-align: right;
}

.quote-cite {
    padding-left: 1em;
}

.inline-cueball {
    display: inline-block;
    border-radius: 50%;
    color: white;
    background: black;
    width: 1.5em;
    text-align: center;
    margin: 0 5px;
}

.print-book-callout {
    margin: 1em;
}

.print-book-callout-head {
    font-weight: bold;
}

ul + ul {
 margin-top: -0.75em;
}

.prompt, .response {
 font-family: Arial;
}

.prompt p {
  margin-bottom: 2px;
  line-height: 1.2;
  padding-left: 2em;
}

.response p {
  margin-bottom: 2px;
  line-height: 1.2;
  padding-left: 2em;
}


.prompt-head {
  position: relative;
}

.prompt-initials {
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5em;
  color: white;
  font-size: 70%;
  text-align: center;
  padding: 0.25em;
  position: absolute;
  left: -25px;
}

.response-head {
 position: relative;
}

.response-head img {
   display: inline-block;
   margin-right: 0.5em;
   position: absolute;
   top: 0px;
   left: -25px;
}

.readable-text.dedication p {
    text-align: center;
    font-style: italic;
}

._TableHead { font-weight: bold; }
.prompt-response-sidebar { background: none !important; }

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url('../Misc/JetBrains.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


pre.code-area {
    font-family: "JetBrains Mono", Consolas, "Liberation Mono", Courier, monospace;
    font-optical-sizing: auto;
    font-variant-ligatures: none;
}
